@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EFACTU</h1>
    <p class="lead">Sistema Cotizacion y Facturacion Taller.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inicio</h2>
        <p>
            Sistema para administrar la facturacion de los servicios
            ofrecidos en Soluciones Automotriz.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Camion.jpg" height="200" width="200" vspace=3 />
    </div>
</div>