@{
    ViewBag.Title = "Index";
}

<h2>Administracion y Reportes</h2>

<div>
    <input type="button" value="Comprobante Fiscal" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("IndexNcf", "Administracion")'" />
</div>
<div>
    <input type="button" value="Adm Usuario" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("IndexUser", "Administracion")'" />
</div>
<br />
